<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>List category</h3>
<p>
    <a th:href="@{/blog}">back list cake</a>
</p>
<p>
    <a th:href="@{/category/create}">
        add new category
    </a>
</p>
<table id="blog">
    <tr>
        <th>Stt</th>
        <th>Name category</th>

        <th>update</th>
        <th>delete</th>
    </tr>
    <tr th:each="c,cStatus : ${category}">
        <td th:text="${cStatus.count}"></td>
        <td th:text="${c.nameC}"></td>
        <td><a th:href="@{/category/update/{id}(id=${c.getId()})}">update</a></td>
        <td><a th:href="@{/category/delete/{id}(id=${c.getId()})}">delete</a></td>
    </tr>
</table>

<footer th:replace="/layout::footer"></footer>
</body>
</html>